body {  
    background-image: url('../images/javascript-illustration.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#check {
    color: black;
}